h1{
	color: blue;
}

.table-holder {
	margin:auto;
	padding-top: 20px;
	width: 1100px;
	table{
		margin-left: 5px;
		float: left;
		width: 220px;
	}
}

.create-view{
	width: 400px;
	margin: auto;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

.scrollbar {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}

@media(max-width: 1100px){
	.table-holder{
		width:900px;
		margin: auto;
		table{
			float: left;
			width: 170px;
		}	
	} 
}

@media(max-width: 850px){
	.table-holder{
		width: 600px;
		margin: auto;
		table{
			float: left;
			width: 100px;
		}
	}

}














