h1{
	color: blue;
}

/*signup/login*/
#login-form{
	width: 800px;
	margin: auto;
}
/**/

.table-holder {
	margin:auto;
	padding-top: 20px;
	width: 1400px;
	table{
		margin-left: 5px;
		float: left;
		width: 220px;
	}
}

.create-view{
	width: 400px;
	margin: auto;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}

/*admin add*/
.scrollable-menu {
	padding-left: 10px;
    height: auto;
    max-height: 140px;
    overflow-x: hidden;
    #admin-lable{
    	font-size: 25px;
    }
    input{
    	/*display: none;*/ /*hide checkboxes*/
    }
 /*   input:checked + span{
    	border: 1px solid red;
    	background-color: #a8a8a8;
    }*/

    
}



#admin-button-container{
	padding: 15px 0px;
}

#edit{
	width: 450px;
	margin: auto;
}

#create-client{
	width: 450px;
	margin: auto;
}


@media(max-width: 1100px){
	.table-holder{
		width:950px;
		margin: auto;
		table{
			float: left;
			width: 170px;
		}	
	} 
}

@media(max-width: 850px){
	.table-holder{
		width: 850px;
		margin: auto;
		table{
			float: left;
			width: 100px;
		}
	}

}














