h1{
	color: blue;
}

/*signup/login*/
#login-form{
	width: 800px;
	margin: auto;
}
/**/

.table-holder {
	margin:auto;
	padding-top: 20px;
	width: 1400px;
	table{
		margin-left: 5px;
		float: left;
		width: 220px;
	}
}

.create-view{
	width: 400px;
	margin: auto;
}

.form-group .help-block {
  display: none;
}

.form-group.has-error .help-block {
  display: block;
}




/*admin add*/
#usersList {
	padding-left: 10px;
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
    ul{
    	list-style: none;
    }
}
/*make radio list vertical*/
.editable-radiolist label {
  display: block;
}



#admin-button-container{
	padding: 15px 0px;
}

#edit{
	width: 450px;
	margin: auto;
}


#create-client{
	width: 450px;
	margin: auto;
}

/*main setting form tag*/
.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap .tags.focused {
  border-color: #66afe9;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}

.bootstrap .tags .tag-item {
  background: #428bca;
  border: 1px solid #357ebd;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item.selected {
  background: #d9534f;
  border: 1px solid #d43f3a;
  border-radius: 4px;
  color: #fff;
}

.bootstrap .tags .tag-item button {
  background: transparent;
  color: #000;
  opacity: .4;
}


@media(max-width: 1100px){
	.table-holder{
		width:950px;
		margin: auto;
		table{
			float: left;
			width: 170px;
		}	
	} 
}

@media(max-width: 850px){
	.table-holder{
		width: 850px;
		margin: auto;
		table{
			float: left;
			width: 100px;
		}
	}

}














